:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    body { background: black; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
  }

  @font-face {
      /* #region */
      font-family: 'AnonymiceProNerdFont-Italic';
      src: local("./fonts/AnonymiceProNerdFont-Italic") format("truetype");
      src: url("./fonts/AnonymiceProNerdFont-Italic.ttf") format("truetype");
  }

  h1 {
    font-family: "AnonymiceProNerdFont-Italic";
} 

#outerIndex {
  display: table;
  width: 100%;
  text-align: center;
  height: 400px;
  /* border: 1px dashed red; */
  vertical-align: middle;
}

#innerIndex {
  display: table-cell;
  margin: 0 auto;
  /* border: 1px solid white; */
  vertical-align: middle;
}

#logoCrop {
  background-origin: border-box;
  background-clip: border-box;
} 

.content-box {
  box-sizing: content-box;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
} 

.border-box {
  box-sizing: border-box;
  /* Total width: 160px
     Total height: 80px
     Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
     Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */
}